@charset "UTF-8";

:root {
    --cor1: #1C1B45;
    --cor2: #233660;
    --cor3: #F8C3B1;
    --cor4: #FCE4E2;
    --cor5: #FFFFFF;
}


* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor1);
}

body {
    background-color: var(--cor3);
}

h1 {
    text-align: center;
}

menu {
    display: inline-block;
}

header input#card {
    width: 40px;
    
}

p#lista {
    display: none;
    
}

p#lista input {
    background-color: var(--cor4);
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.514);
    padding: 5px;
    margin: 5px;
    width: 80px;
}


#fcarol {
    display: none;
    position: fixed;
    left: 50%;
    bottom: 50%;

    transform: translate(-50%, 50%);
}
#ftiago {
    display: none;
    position: fixed;
    left: 50%;
    bottom: 50%;

    transform: translate(-50%, 50%);
}
#ftainara {
    background-color: black;
    display: none;
    position: fixed;
    left: 50%;
    bottom: 50%;

    transform: translate(-50%, 50%);
}
#fvini {
    display: none;
    position: fixed;
    left: 50%;
    bottom: 50%;

    transform: translate(-50%, 50%);
}



#ica:hover {
    transform: translate(10%, -5%);
}
#iti:hover {
    transform: translate(10%, -5%);
}
#ita:hover {
    transform: translate(10%, -5%);
}
#ivi:hover {
    transform: translate(10%, -5%);
}



#moldura {
    position: absolute;
    left: 50%;
    bottom: 50%;

    transform: translate(-50%, 50%);
}



footer {
    width: 250px;
    text-align: center;
    padding-bottom: 10px;
    position: absolute;
    bottom: 0%;
    left: 50%;

    transform: translateX(-50%);
}