@charset "UTF-8";

:root {
    --cor1: #1C1B45;
    --cor2: #233660;
    --cor3: #F8C3B1;
    --cor4: #FCE4E2;
    --cor5: #FFFFFF;
}


* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-image: url('imagens/tijolo.jpg');
}

h1 {
    font-size: 20pt;
    text-align: center;
    color: var(--cor5);
}

menu {
    padding: 3px;
    border-radius: 10px;
    margin-left: 5px;
    display: inline-block;
    color: white;
    background-color: var(--cor4);
}

header input#card {
    width: 40px;
    
}

p#lista {
    display: none;
    
}

p#lista input {
    background-color: var(--cor3);
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.514);
    padding: 5px;
    margin: 5px;
    width: 65px;
}

#lista input:hover {
    transform: translate(10%, -5%);
}


#fcarol {
    display: none;
    position: fixed;
    left: 50%;
    bottom: 50%;

    transform: translate(-50%, 50%);
}
#ftiago {
    display: none;
    position: fixed;
    left: 50%;
    bottom: 50%;

    transform: translate(-50%, 50%);
}
#ftainara {
    background-color: black;
    display: none;
    position: fixed;
    left: 50%;
    bottom: 50%;

    transform: translate(-50%, 50%);
}
#fvini {
    display: none;
    position: fixed;
    left: 50%;
    bottom: 50%;

    transform: translate(-50%, 50%);
}


#moldura {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 50%;
    box-shadow: 2px 2px 4px black;

    transform: translate(-50%, 50%);
}

#molpa{
    display: none;
}

#ltiago, #lcarol, #ltainara, #lvini{
    position: absolute;
    left: 50%;
    bottom: 10%;

    transform: translate(-50%, -40%);

}

#ltiago {
    display: none;
}

#ltainara {
    display: none;
}

#lvini {
    display: none;
}

#lcarol {
    display: none;
}

#ltiago img, #lcarol img, #ltainara img, #lvini img{
    width: 40px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.562);
    box-sizing: border-box;
    
    
}

#ltiago img:hover, #lcarol img:hover,
#ltainara img:hover, #lvini img:hover {
    transform: translate(10%, -5%);
    box-shadow: -4px 4px 4px black;
}

#res {
    position: absolute;
    left: 50%;
    bottom: 75%;
    font-size: 20px;
    color: white;

    transform: translate(-50%, -40%);
}



footer {
    width: 250px;
    text-align: center;
    padding-bottom: 10px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    color: var(--cor5);

    transform: translateX(-50%);
}

footer input {
    border-radius: 10px;
    padding: 5px;
    margin: 1px;
    background-color: var(--cor1);
    color: var(--cor4);
}

footer input:hover {
    background-color: var(--cor2);
}