@charset "UTF-8";

@media screen and (min-width: 768px) {

    menu #card {
        display: none;
        margin-top: 50px;

    }

    #moldura {
        display: none;
    }

    #molpa {
        display: block;
        position: absolute;
        left: 50%;
        bottom: 50%;
        box-shadow: 2px 2px 4px black;

        transform: translate(-50%, 50%);
        
    }

    p#lista {
        display: block;
        
        
    }

    p#lista input {
        width: 200px;
    }
    
}